services:
  web:
    build:
      context: ./backend
    container_name: pet_trainer_web
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - ./backend:/app

  db:
    image: postgres:14
    container_name: pet_trainer_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    container_name: pet_trainer_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
