# Core
fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
python-dotenv
pydantic-settings
python-multipart 
opencv-python-headless

# AI / LLM
ultralytics
langchain
langgraph
langchain_openai

redis

# Security
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]

# Admin
sqladmin[full]